:root {
  --ifm-color-primary: #8b5cf6; /* Màu tím chủ đạo */
  --ifm-color-primary-dark: #7c3aed;
  --ifm-color-primary-darker: #6d28d9;
  --ifm-color-primary-darkest: #5b21b6;
  --ifm-color-primary-light: #a78bfa;
  --ifm-color-primary-lighter: #c4b5fd;
  --ifm-color-primary-lightest: #ddd6fe;
  
  --ifm-button-background-color: var(--ifm-color-primary);
  --ifm-button-color: white;
}

[data-theme='dark'] {
  --ifm-color-primary: #a78bfa;
  --ifm-color-primary-dark: #8b5cf6;
  --ifm-color-primary-darker: #7c3aed;
  --ifm-color-primary-darkest: #6d28d9;
  --ifm-color-primary-light: #c4b5fd;
  --ifm-color-primary-lighter: #ddd6fe;
  --ifm-color-primary-lightest: #ede9fe;
}

/* Custom button color */
.button {
  text-shadow: none !important;
}

.button--secondary {
  --ifm-button-background-color: #c4b5fd;
  --ifm-button-border-color: #c4b5fd;
  --ifm-button-color: #ffffff;
}

.button--secondary:hover {
  --ifm-button-background-color: #a78bfa;
  --ifm-button-border-color: #a78bfa;
  --ifm-button-color: #ffffff;
}